# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# IDE
.idea/
.vscode/

# OS junk
.DS_Store
Thumbs.db

# Environment variables
.env

# JSON data (app data)
tbr_books.json
to_watch.json
watched.json
read_books.json

# Flask stuff
instance/
.webassets-cache