<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
        <meta name="theme-color" content="#283845">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Lilita+One&family=Luckiest+Guy&family=Margarine&family=Outfit:wght@100..900&family=Special+Elite&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/styles.css">
    </head>
    <body>
        <a href="{{ url_for('home_page', user_name=user_name) }}" id="back-button">↩</a>
        <div class="home-search">
            <div class="heading">
                <p>All your <b> Read Books</b> are here</p>
            </div>

            <form method="POST" action="/handle-action/read" class="search-form">
                <input type="hidden" name="user_name" value="{{ user_name }}">

                <input type="text" name="title" placeholder="Enter book name...">
                <input type="text" name="author" placeholder="Enter author name...">
                
                <div class="action-buttons">
                    <button name="action" value="add">+ Add</button>
                    <button name="action" value="search">⌕ Search</button>
                </div>
            </form>

            <a href="{{ url_for('list_page', list_name='read', user_name=user_name) }}" id="see-list-button">☰ See List</a>
        </div>

        <script>
            if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/static/sw.js')
                .then(() => console.log('SW registered'));
            }
        </script>
    </body>
</html>