<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>List</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Lilita+One&family=Luckiest+Guy&family=Margarine&family=Nerko+One&family=Outfit:wght@100..900&family=Special+Elite&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/styles.css">
    </head>
    <body>
        <a href="{{ url_for(key_name, user_name=user_name) }}" id="back-button">↩</a>
        <h1>{{ message }}</h1>

        <ul>
            {% if show_delete %}
                {% for item in matches %}
                    <li class="search-item">
                        <form action="/delete/{{ key_name }}" method="POST" class="delete-form">
                            <input type="hidden" name="category" value="{{ category }}">
                            <input type="hidden" name="user_name" value="{{ user_name }}">
                            <input type="hidden" name="title" value="{{ item.title }}">
                            <input type="hidden" name="author" value="{{ item.author }}">

                            <span class="item-text">
                                {% if item.author %}
                                    {{ item.title }} by {{ item.author }}
                                {% else %}
                                    {{ item.title }}
                                {% endif %}
                            </span>
                            <button type="submit" class="delete-x">×</button>
                        </form>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
        
        <ul>
            {% if show_list %}
            <div class="lists">
                <h1>Your {{ display_name }} List</h1>
                    {% for book in tbr_books %}
                        <li class="list-item">
                            <span class="item-text">
                                {% if book.author %}
                                <b>{{ book.title }}</b> by {{ book.author }}
                                {% else %}
                                <b>{{ book.title }}</b>
                                {% endif %}
                            </span>
                        </li>
                    {% endfor %}
            </div>
            {% endif %}
        </ul>
        

    </body>
</html>
